@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  scrollbar-width: none;
  overflow-y: scroll; /* PERMITIR SCROLL EN EJE Y */
  -ms-overflow-style: none;
}

/* =========================================
  CSS FOR BODY
========================================== */

body {
  background: var(--background-color) !important;
  color: var(--text-color);
  font-family: 'Elms Sans', sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal;
  transition: background 0.3s, color 0.3s;
}

/* =========================================
    SWEETALERT DESING BLUR
========================================= */
.swal2-popup.glass-modal {
  background: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 3pxpx rgba(61, 61, 61, 0.4);
}

/* =========================================
  CSS FOR TOASTIFY
========================================== */

.toast-glass {
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.07) !important;
  color: var(--text-color) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
}

.toast-glass.success {
  border-left: 4px solid #28a745;
}

.toast-glass.error {
  border-left: 4px solid #dc3545;
}

.card-custom-shadow {
  background-color: var(--card-bg-color) !important;
  border: solid 2px var(--card-border-color) !important;
}
